*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: burlywood;
}

img{
    width: 100%;
}

p{
    text-align: justify;
    line-height: 25px;
    margin-bottom: 10px;

}

body{
    margin-left: 50px;
    margin-right: 50px;
}

h2{
    margin: 30px;
    text-align: center;
}

.row{
    display: flex;

}

.aside{
    background-color: coral;
    padding: 10px;
    flex: 30%;
}

.section{
    background-color: violet;
    padding: 10px;
    flex: 70%;
}

.video{
    display: block;
    margin: 10px auto;
    width: 80%;
    height: calc(100vw * 30 / 100);
}

.tarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* column-gap: 20px;
    row-gap: 30px; */
    gap: 20px 30px;
    justify-content: space-around;
}

.tarjetas .card{
    background-color: rgb(225, 213, 153);
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 5px 5px 8px #000;
    padding: 10px;
    aspect-ratio: 700/800;
}

.tarjetas .card:hover{
    background-color: rgb(128, 128, 128, 0.4);
    transform: scale(1);
    cursor: pointer;
}

.tarjetas .card img{
    display: block;
    width: 30%;
    margin: auto;
}

.tarjetas .contenido p:first-child{
    color: blue;
    border-bottom: 2px dashed rgb(95, 63, 63);
    text-align: center;
    font-weight: bold;
    
}

/* cuadros */

.cuadro{
    background-color: rgb(172, 172, 234);
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    gap: 20px;
    padding: 20px;
    border-radius: 30px;
    
}


.cuadro .imagen img{
    width: 250px;
}

@media screen and (max-width:900px) {
    .row{
        flex-direction: column-reverse;
    }
}

@media  screen and (max-width:850px) {
    .cuadro{
        flex-direction: column;
        width: 100%;
    }
    .cuadro .imagen img{
        width: 150px;
    }
}