*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: burlywood;
}

img{
    width: 100%;
}

p{
    text-align: justify;
    line-height: 25px;
    margin-bottom: 10px;

}

body{
    margin-left: 50px;
    margin-right: 50px;
}

.row{
    display: flex;

}

.aside{
    background-color: coral;
    padding: 10px;
    flex: 30%;
}

.section{
    background-color: violet;
    padding: 10px;
    flex: 70%;
}

.video{
    display: block;
    margin: 10px auto;
    width: 80%;
    height: calc(100vw * 30 / 100);
}

@media screen and (max-width:900px) {
    .row{
        flex-direction: column-reverse;
    }
}